<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Donner - Under Construction Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Template by Dry Themes"/>
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP"/>
        <meta name="author" content="DryThemes"/>
		<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
		<!--[if lt IE 10]>
			<script type="text/javascript" src="js/PIE.js"></script>
		<![endif]-->
    </head>
    <body>
		<table class="doc-loader">
            <tr>
                <td>
                    <%= image_tag("loading.gif", :alt => "loading...")%>
                </td>
            </tr>
        </table> 
		<div class="body_wrapper">
			<div class="sprite"></div>
			<div id="header">
				<!-- <%= image_tag("logo.png", :alt => "image_logo") %>			 -->
			</div>
			<div class="wrapper">
				<% @wishnames.each do |wishname|%>
				  <span class="cloud cloud-<%= wishname.cloud_size %>">
				  <%= wishname.name %>(<%= wishname.wish_count %>)
				  </span>
				<% end %>
				<div class="clear-left"></div>
				<div class="clear"></div>
				<div class="wrapper-mid-content m-top-110">
					<div class="clear"></div>
					<div class="subheader">
						<div class="subheader-line m-right-30"></div>
						<h3 class="betweenline">Built at AngelHackTO</h3>
						<div class="subheader-line m-left-30"></div>
					</div>	
				</div>
			</div>
		</div>
		<div class="clear"></div>

		<div class="footer m-top-70">
			<div class="socio_contact">
				<ul>
					<li><a href="https://twitter.com/iwish_exists" target="_blank" class="socio_contact_twitter"></a></li>
					<li><a href="https://www.facebook.com/pages/Iwishblankexists/" target="_blank" class="socio_contact_facebook"></a></li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="copyright">
				<p>
					&copy; Copyright 2012 DryThemes - Created With Love :)
				</p>
			</div>
		</div>    
		<div id="subscribe">
            <div class="subscribe">
				<div class="form-text m-left-100 m-top-60">Subscribe</div>
                <%= image_tag("fill_the_forms.png", :class => "notification-hint", :alt => "Subscribe to be notified")%>
				<a class="closePopup" href="javascript: ClosePopupWindow();"><%= image_tag("close.png", :alt => "Close")%></a> 
                <input type="text" id="subscriberEmail" />
                <a class="subscribeButton rounded" id="subscribeButton" href="javascript: subscribe();">Subscribe</a>
				<div class="clear"></div>
                <div class="footnote">Be the first to hear our news. No spam - We promise.</div>        
			</div>
        </div>
        <div id="contact">
            <div class="contact">
				<div class="form-text m-left-50">Contact</div>
                <%= image_tag("fill_the_forms.png", :class => "fill-the-forms", :alt => "Fill the forms bellow") %>
                <a class="closePopup" href="javascript: ClosePopupWindow();"><%= image_tag("close.png", :alt => "Close")%></a>
                <ul class="user-data">
                    <li>
                        <input type="text" id="name"/>
                    </li>
                    <li>
                        <input type="text" id="email"/>
                    </li>
                    <li>
                        <input type="text" id="subject"/>
                    </li>
                    <li>
                        <textarea id="message" cols="35" rows="15"></textarea>
                    </li>
                    <li>
                        <a class="submit" id="submitButton" href="javascript: sendMail();">send</a>                    
					</li>
                </ul>
        	</div>
		</div>

	</body>
</html>
