<!DOCTYPE html>
<html>
<head>
  <title>I Wish ___ Exists</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <script src="https://app.divshot.com/js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
  <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
  <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
  <%= csrf_meta_tags %>
</head>
<body>

    <% if flash[:alert] %>
      <p class="flash-error .alert-error"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class="flash-notice .alert-success"><%= flash[:notice] %></p>
    <% end %>

   	 <%= yield %>

    <!-- start of footer -->
    <div class="clear"></div>

    <div class="footer m-top-70">
          <div class="socio_contact">
                <ul>
                      <li><a href="http://twitter.com/iwishblankexists" target="_blank" class="socio_contact_twitter"></a></li>
                      <li><a href="http://facebook.com/iwishblankexists" target="_blank" class="socio_contact_facebook"></a></li>
                </ul>
          </div>
          <div class="clear"></div>
          <div class="copyright">
                <p>
                      &copy; Copyright 2012 - I Wish Blank Exists
                </p>
          </div>
    </div>
    <!-- end of footer -->    
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <!-- start of google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36714824-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js  ';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- end of google analytics -->
 </body>

</html>



